language: go
sudo: false
go:
  - 1.6.2
before_install:
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
os:
  - linux
script:
  - go build -race
  - go test -v 
  - cd gtoggle ; go build
  - $HOME/gopath/bin/goveralls -service=travis-ci
